body{
    margin:0;
    padding:0;
    background-color: pink;
    font-family: Arial;
}
h2{
    text-align: center;
    color:white;
    padding: 20px;
}
label{
    color:red;
    font-size: 17px;
}
#username {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#pwd {
    width:300px;
    height:30px;
    border:none;
    border-radius: 3px;
    padding-left: 8px;
}
span{
    color:white;
    font-size: 17px;
}